In [1]:
import pandas as pd

table = pd.read_csv("data/Life_train.csv")
table.head()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
1,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
2,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
3,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
4,2010,58.8,279.0,74,0.01,79.679367,66.0,1989,16.7,102,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2

In [3]:
stat = table.describe()
stat

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2489.000000,2489.000000,2489.000000,2489.000000,2322.000000,2489.000000,2009.000000,2489.000000,2461.000000,2489.000000,2471.000000,2293.000000,2471.000000,2489.000000,2103.000000,1.935000e+03,2461.000000,2461.000000,2343.00000,2343.000000
mean,2007.453998,69.135677,165.517075,31.925271,4.600060,719.997905,80.884520,2508.917638,38.197887,44.378063,82.441926,5.952891,82.095508,1.777581,7320.511081,1.267212e+07,4.837424,4.882974,0.62521,11.932864
std,4.593657,9.626188,125.091120,122.898636,4.021613,1968.953987,25.110227,11795.371317,19.919937,167.571112,23.423987,2.489485,23.948337,5.184826,14023.224494,6.032759e+07,4.435967,4.546285,0.21130,3.387830
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,4.100000e+01,0.100000,0.100000,0.00000,0.000000
25%,2003.000000,63.000000,74.000000,0.000000,0.902500,4.344931,77.000000,0.000000,19.300000,0.000000,77.000000,4.280000,78.000000,0.100000,462.318087,2.062425e+05,1.600000,1.500000,0.48800,10.000000
50%,2007.000000,72.100000,144.000000,3.000000,3.775000,64.605901,92.000000,15.000000,43.200000,4.000000,93.000000,5.780000,93.000000,0.100000,1757.177970,1.395398e+06,3.300000,3.400000,0.67600,12.300000
75%,2011.000000,75.700000,228.000000,23.000000,7.677500,431.545247,97.000000,357.000000,56.200000,29.000000,97.000000,7.500000,97.000000,0.800000,5903.413690,7.321861e+06,7.200000,7.200000,0.77900,14.200000
max,2015.000000,89.000000,723.000000,1800.000000,17.310000,19479.911610,99.000000,212183.000000,77.600000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.94800,20.600000

In [4]:
table.columns

Index(['Year', 'Life expectancy ', 'Adult Mortality', 'infant deaths',
       'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

In [17]:
import torch
a = torch.tensor([1], dtype=torch.float32)
b = torch.tensor([2], dtype=torch.float32)


torch.cat([a, b]).shape

torch.Size([2])